<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Mail Triage"
    Manufacturer="Midtown Technology Group LLC"
    Version="$(var.Version)"
    UpgradeCode="{9DCE2F4A-4310-4E52-BAE0-4086D1F7B321}"
    InstallerVersion="500"
    Scope="perMachine">

    <SummaryInformation Description="Mail Triage installer" Manufacturer="Midtown Technology Group LLC" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Mail Triage is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLROOT" Name="Midtown Technology Group">
        <Directory Id="INSTALLFOLDER" Name="Mail Triage" />
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Mail Triage" Level="1">
      <ComponentGroupRef Id="ToolComponents" />
    </Feature>

    <ComponentGroup Id="ToolComponents" Directory="INSTALLFOLDER">
      <Component Id="ToolExecutableComponent" Guid="*">
        <File Id="ToolExecutable" Source="$(var.BinDir)\mail-triage.exe" KeyPath="yes" />
      </Component>
      <Component Id="PathComponent" Guid="{5D3FADE8-5D12-45F1-A121-137C22D815D3}">
        <CreateFolder />
        <Environment
          Id="ToolPathEntry"
          Action="set"
          Name="PATH"
          Part="last"
          Permanent="no"
          System="yes"
          Value="[INSTALLFOLDER]" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
